<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Triangle Flip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>336F553E1F26E4FD00F79650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>336F55581F26E50000F79650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>336F55631F26E50000F79650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
